.idea/*
/.idea
v8-compile-cache-0/*
.rnd
_ide_helper.php
.phpstorm.meta.php
/node_modules
/public/hot
/public/storage
/public/css/.sass-cache
/storage/*.key
/storage/debugbar/*
public/mix-manifest.json
/public/assets/uploads/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/*
/.history/*
/.vscode/*
go-pear.phar
